*, *::before, *::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    background-color: Black;
    font-family: monospace;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    max-width: 900px;
}


/*MAGIC 8 BALL GAME CLASSES*/
.tutorial-description {
    font-size: 24px;
    margin: 2rem;
}
.game-container {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}


/*FOOTER*/
footer {
    color:rgba(0, 0, 0, 0.699);
    opacity: 0.25;
    font-size: 18px;
    text-align: center;
    margin-top: auto;
}


